/***********************************************************************/
/* FOOTER
/*
/* Footer styles.
/***********************************************************************/

#footer {
    height: auto;
    width: 100%;
    overflow: hidden;
    z-index: 99;
    background-color: @accent-blue;

    .footer__top {
        padding: 70px 57px 70px 24px;
        width: 100%;
        height: auto;
        background-color: @accent-blue;
        .flex-row(space-between);

        .footer__top__title {
            .font-size(96);
            font-family: @font-script;
            font-weight: @weight-medium;
            margin-right: 84px;
            color: @accent-pink;
            margin-left: 24px;
        }

        .footer__top__subscribe {
            .flex-row(flex-end, center);

            input {
                height: 149px;
                width: 482px;
                border: 2px solid @accent-pink;
                background-color: @accent-blue;
                text-align: left;
                border-radius: 100px;
                margin-right: 27px;
                padding: 51px 54px;
                color: @accent-pink;
                .font-size(28);


                &::placeholder {

                    color: @accent-pink;
                    .font-size(28);
                    text-transform: uppercase;
                    font-family: @font-btn;

                }
            }

            .btn--pink-blue {
                background-color: @accent-pink;
                color: @accent-blue;
                height: 149px;
                width: 392px;
                border-radius: 100px;
                .font-size(28);
                line-height: 34.86px;
                border: 2px solid @accent-pink;

                &:hover {
                    background-color: @accent-blue;
                    color: @accent-pink;
                }

            }

        }

    }

    .footer__bottom {
        width: 100%;
        height: auto;
        background-color: @accent-pink;

        .footer__bottom__container {
            padding: 45px 50px;
            .flex-row(space-between, flex-start);
            margin: 0 auto;
            max-width: 1514px;

            .footer__bottom__menus {
                .flex-row(space-between, flex-start);

                .footer__bottom__menus--info, .footer__bottom__menus--follow {
                    margin-right: 112px;
                }

                .footer__bottom__menus__content {
                    .flex-column(flex-start, flex-start);
                    height: auto;
                    width: 100%;

                    .footer-menus-title {
                        font-family: @font-bold;
                        .font-size(16);
                        font-weight: @weight-bold;
                        line-height: 15.84px;
                        margin-bottom: 11px;
                        text-transform: uppercase;
                        text-align: left;

                    }

                    ul, p, a {
                        font-family: @font-normal;
                        font-weight: 300;
                        .font-size(16);
                        line-height: 22.64px;
                        white-space: nowrap;


                        span {
                            .font-size(10);
                            font-family: @font-bold;
                        }

                    }
                }
            }

        }

    }

    .footer__bottom__copyright {
        width: 100%;
        height: auto;
        background-color: @accent-pink;

        .footer__bottom__copyright__container {
            width: 100%;
            padding: 45px 50px;
            .flex-row(flex-start);
            margin: 0 auto;
            max-width: 1514px;

            .footer__bottom__copyright__content {
                width: 288px;
                height: auto;
            }

        }

    }

}
