/***********************************************************************/
/* HEADER
/*
/* Header styles. Main Nav etc
/***********************************************************************/

/********** MAIN MENU / MAIN NAV / MAIN HEADER **********************************************************/
//noinspection LessResolvedByNameOnly
#header {
    width: 100%;
    z-index: 999;
    position: fixed;

    .current-menu-parent > a:before, .home.current-page-ancestor > a:before {
        //left: 0 !important;
        //right: 0 !important;
    }

    // Top Level Nav Link is being viewed
    // |*HOME*| ABOUT | SERVICES +| CONTACT
    .current_page_item > a {
        //border-bottom: 2px solid @white;
        //margin-top: -2px !important;
        //padding-top: 3px;
        //line-height: 37px;
    }

    // Main nav link has a sub page that is being viewed
    // | HOME | ABOUT |*SERVICES +*| CONTACT
    .current-page-ancestor > a {
        //border-bottom: 2px solid @white;
        //margin-top: -2px !important;
    }

    // Sub page is being viewed
    // | HOME | ABOUT | SERVICES +| CONTACT
    //               |    *-SUB* |
    //              + --------- +
    .sub-menu .current_page_item a:first-of-type {
        //border-bottom: none !important;
        //background: fade(@white, 10%);
        //opacity: 1;
    }
}

/********************************************************************************************************/
/********** MENU **************************************************************************************/
/****************************************************************************************************/
// MAIN MENU (Menu before scroll) PRIMARY ===========================================================
.header {
    z-index: 10;
    margin-top: 0px;
    position: fixed !important;
    top: 0;
    left: 0;
    height: @header-height; // edit variable.less
    width: 100%;
    background: @background-color;
    .box-shadow();
    .flex-row(space-between);
    .transition();

    /* Branding (ie. Logo) */

    .header__site-branding {
        width: auto;
        text-align: left;
        position: relative;
        z-index: 900;
        height: @header-height; // edit variable.less
        .flex-column();

        #header__site-branding__logo {
            .flex-row();
            height: 69px;
            width: auto;
            padding: 5px 0;

            img {
                .full-height();
                object-fit: contain;
                padding-right: 5px;
            }
        }
    }

    /* Site Menu */

    .header__site-menu {
        line-height: 1;
        transition: @easing;
        width: 100%;

        /* Main Menus / Upper-most Menu Links */

        #main-menu {
            .flex-row(flex-end);
            width: 100%;
            position: relative;
            list-style-type: none;

            a { // Default Nav link <a>
                display: inline-block;
                position: relative;
                .font-size(14);
                cursor: pointer;
                color: @text-color-primary;
                text-align: center;
                .transition();

                &:hover {
                    transform: scaleX(1);
                }

            }

            & > li { // Default Nav link <li>
                display: inline-block; // Set list to inline-block for horizontal menu
                text-align: center;
                position: relative;
                line-height: @header-height; // edit variables.less. This line height is what makes the submenu show below the navbar.

                // Add space to the nav items, except for last one
                &:not(:last-of-type) {
                    margin-right: @baseline*2;
                }

                &.active, &.current-menu-item, &.current_page_item {
                    font-weight: 600;

                    a:after {
                        transform: scaleX(1);
                    }

                    //// Do not underline hover current page
                    //a:hover {
                    //    &:after {
                    //        transform: scaleX(0);
                    //    }
                    //}
                }

                // Style the Nav items with sub menus
                &.menu-item-has-children > a {
                    &:after {
                        .fa-chevron-down();
                        font-family: @font-awesome;
                        margin-left: 10px;
                    }
                }

                & > a {
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: @text-color-primary;

                    &:after {
                        content: '';
                        height: 2px;
                        width: 108%;
                        background-color: @accent-color;
                        position: absolute;
                        bottom: 25px;
                        left: -3px;
                        transform: scaleX(0);
                        transform-origin: left;
                        .transition();
                        margin-left: auto;
                        margin-right: auto;
                    }

                    &:hover {
                        &:after {
                            transform: scaleX(1);
                        }
                    }

                }

            }
        }
    }

    // For the mobile nav Button
    .header__site-nav-button-container {
        text-align: right;
        padding-top: 0px;
        height: 100%;

        #nav-btn {
            background-color: transparent;
        }

        .btn-nav, .btn-nav:visited {
            background: @white;
            .border-radius();
            color: @white;
            .font-size(18);
            height: @baseline*2;
            line-height: @baseline*2;
        }

        .btn--nav:hover, .btn--nav:active {

            .hamburger.is-active .hamburger-inner,
            .hamburger.is-active .hamburger-inner::before,
            .hamburger.is-active .hamburger-inner::after,
            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
                background-color: @black;
            }
        }

        .btn--nav:focus {outline: 0;}

        .btn--nav:not(.is-active):hover .hamburger-inner::before {

        }

        .btn--nav:not(.is-active):hover .hamburger-inner::after {

        }
    }
}
