// Global Styles
html {
    scroll-behavior: smooth;
    overflow-y: scroll;

    ::selection {
        background-color: @accent-lime;
        color: @background-color;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 15px;
        box-shadow: none;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: @accent-grey;
        box-shadow: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: @accent-orange;
        border-radius: 15px;
        box-shadow: none;
    }

}

#main {
    overflow: hidden;
    background-color: @background-color;
}

.remove-top-padding {
    padding-top: 0!important;
}

.add-top-padding {
    padding-top: 168px!important;
}

.blue-border {
    border-top: 2px solid @accent-blue;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 50px;
    max-width: 1414px;
    margin: 0 auto;
}

.blue-top-border, .blue-bottom-border {
    height: 2px;
    width: 100%;
    background-color: @accent-blue;
    position: absolute;
    right: 0;
    left: 0;
}

.blue-top-border {
    top: 0;
}

.blue-bottom-border {
    bottom: 0;

}

.all-caps-heading {
    color: @accent-light-purple;
    font-family: @font-sans-heading;
    .font-size(64);
    line-height: 64.64px;
    font-weight: 700;
    text-transform: uppercase;

    p {
        color: inherit;
        font-family: @font-sans-heading;
        .font-size(64);
        line-height: 64.64px;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.script-heading {
    color: @accent-orange;
    font-family: @font-script;
    .font-size(96);
    font-weight: 400;
    line-height: 96.96px;

    p {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin-bottom: 0;
    }
}

.sub-heading {
    margin-bottom: 32px;
    color: inherit;
    .font-size(28);
    font-weight: 300;
    line-height: 28.28px;
    font-family: @font-normal;

    p {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        margin-bottom: 0;

        strong {
            font-weight: 700;
            font-family: @font-bold;
        }
    }


}

.basic-text {
    .font-size(20);
    line-height: 20.2px;
    font-weight: 300;
    color: inherit;
    font-family: @font-normal;

    p {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        color: inherit;

        strong {
            font-weight: 700;
            font-family: @font-bold;
        }
    }


}

.fixed-button {
    position: fixed;
    top: calc(100vh - 129px - 43px);
    left: calc(50vw + 707px - 80px);
    transform: translateX(-50%);
    width: 102px;
    height: 102px;
    .flex-row(flex-end, center);
    z-index: 999;

    .b(desktop; {
        left: calc(100vw - 100px - 20px);
    });

    .b(mobile; {
    	display: none;
    });

    a {
        background-image: url("/wp-content/uploads/2022/11/fixed-button.svg.svg");
        background-size: contain;
        height: 100%;
        width: 102px;
        font-family: @font-btn;
        .font-size(16);
        line-height: 19.92px;
        color: @accent-orange;
        text-transform: uppercase;
        background-repeat: no-repeat;
        .flex-column();
        text-align: center;
        z-index: 9999;
        position: relative;

        &:hover {
            color: @accent-blue;
        }
    }
}

ul.bullet-list {
    list-style-type: none;

    li.bullet-list__item {
        color: inherit;
        .font-size(28);
        line-height: 28px;
        .flex-row(flex-start, flex-start);
        padding-left: calc(28px + 27px);
        position: relative;

        &:not(:last-of-type) {
            margin-bottom: 34px;
        }

        &:before {
            content: '';
            background-image: url("/wp-content/uploads/2022/11/fixed-button.svg.svg");
            background-size: contain;
            height: 28px;
            width: 28px;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            left: 0;
            top: 0;

        }
    }

}

//BACKGROUND COLORS

.background-color--grey {
    background-color: @accent-grey;
}

.background-color--blue {
    background-color: @accent-blue;
}

.background-color--lime {
    background-color: @accent-lime;
}

.background-color--orange {
    background-color: @accent-orange;
}

.background-color--pink {
    background-color: @accent-pink;
}

.background-color--dark-purple {
    background-color: @accent-dark-purple;
}

.background-color--light-purple {
    background-color: @accent-light-purple;
}

//COLORS

.color--blue {
    color: @accent-blue!important;
}

.color--orange {
    color: @accent-orange!important;
}

.color--pink {
    color: @accent-pink!important;
}

color--dark-purple {
    color: @accent-dark-purple!important;
}



