// Global Styles
html {
    scroll-behavior: smooth;
    overflow-y: scroll;

    ::selection {
        background-color: @accent-orange;
        color: @background-color;
    }

}

#main {
    overflow: hidden;
    background-color: @background-color;
}
