/***********************************************************************/
/* VARIABLES ==========================================================*/
/***********************************************************************/

/***********************************************************************/
/*==== SITE COLORS ====================================================*/
/***********************************************************************/
/* Primary Color */
@primary-color: #FFF9F2;
@footer-color: #FFE2DA;

/* Secondary Color */
@secondary-color: #5F82C9;

/* Accent Color */
@accent-color: #5F82C9;
@accent-blue: #5F82C9;
@accent-lime: #CCFF00;
@accent-orange: #FF6700;
@accent-pink: #FFE2DA;
@accent-dark-purple: #D9BBDC;
@accent-light-purple: #ECDCE1;
@accent-grey: #F2F2F2;

/* Text Color */
@text-color-primary: #5F82C9;
@text-color-secondary: #FF6700;
@text-color-header: @accent-light-purple;

/* Body Color (default text color) */
@body-color: #5F82C9;

/* Background Color (For page. Typically white or grey) */
@background-color: #FFF9F2;
@background-color-light: #FFF9F2;
@background-color-dark: #5F82C9;

/* Link color <a> */
@link-color: @text-color-primary;
@link-hover-color: @accent-orange;

/* Input Place Holder Color */
@input-placeholder-color: #bbbbbb;

/* Border color (default) */
@border-color: #d7d7d7;

/*********************************************************************/
/*==== DEFAULT COLORS ================================================*/
/***********************************************************************/
/* Shades */
@white: #ffffff;
@grey: #808080;
@black: #000000;
@red-light: #ed6c63;
@red-dark: #bb2011;
@danger-color: @red-dark;
@success-color: #28a745;


/***********************************************************************/
/*==== TYPOGRAPHY =====================================================*/
/***********************************************************************/

// FONT LOADING EXAMPLES ===============================================

// OPENTYPE ------------------------------------------------------------
@font-face {
  font-family: 'Cooper';
  src: url(../../fonts/CooperNouveau.otf) format('opentype');
}

@font-face {
    font-family: 'Termina';
    src: url(../../fonts/Termina-Demi.otf) format('opentype');
}

// WOFF ----------------------------------------------------------------

@font-face {
    font-family: 'Apercu Bold';
    src: url(../../fonts/apercu-bold.woff) format('woff');
}

@font-face {
    font-family: 'Apercu Light';
    src: url(../../fonts/apercu-light.woff) format('woff');
}


/* Font families */
// Set from fonts loading above or in ../inc/enqueue.php
// Some fonts have different font-families for different font weights. Set them here.

@font-heading: 'Cooper', serif;
@font-sans-bold: 'Termina', sans-serif;
@font-normal: 'Apercu Light', sans-serif;
@font-script: 'Cooper', serif;
@font-bold: 'Apercu Bold', sans-serif;

/* Font Weights */
@weight-thin: 100;
@weight-normal: 300;
@weight-medium: 400;
@weight-bold: 700;

// Set font-family that will be used for titles, text, buttons, and nav.

@font-sans-heading: @font-sans-bold;
@font-text: @font-normal;
@font-btn: @font-bold;
@font-nav: @font-normal;

@font-awesome: 'Font Awesome 5 Free';

/***********************************************************************/
/*==== PAGE MEASUREMENTS ==============================================*/
/***********************************************************************/
@baseline: 20px;
@bl: @baseline;

/* Header (Main navigation) */
@header-height: 129px;


/***********************************************************************/
/*==== OTHER ==========================================================*/
/***********************************************************************/
@easing: all 0.2s ease-in-out;
