.orange-slider {
    padding-top: 108px;
    padding-bottom: 53px;
    position: relative;

    .orange-slider-container {
        .flex-column(space-between, flex-start);

        .slider-content {
            .flex-row(flex-start, center);
        }

        .navigation-container {
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
            padding-top: 52px;

            .flex-row();

            .navigation {
                position: relative;
                .flex-row();
                margin-right: 18px;

                .swiper-button-next, .swiper-button-prev {
                    position: relative;
                    top: 0;
                    bottom: 0;
                    height: 84px;
                    width: 84px;
                    .transition();

                    svg {
                        height: 84px;
                        width: 84px;
                    }

                    &:after {
                        content: '';
                    }

                    &:hover {
                        svg {
                            path:first-of-type {
                                filter: brightness(0) saturate(100%) invert(42%) sepia(81%) saturate(2854%) hue-rotate(3deg) brightness(106%) contrast(102%);
                                fill: @accent-orange;
                            }

                            path:nth-of-type(2) {
                                filter: brightness(0) saturate(100%) invert(100%) sepia(44%) saturate(616%) hue-rotate(297deg) brightness(102%) contrast(102%);
                            }
                        }
                    }
                }

                .swiper-button-prev {
                    margin-right: 11px;
                    left: 0;

                    svg {
                        transform: rotate(180deg);
                    }
                }

                .swiper-button-next {
                    right: 0;

                }
            }

            .orange-border-bottom {
                width: 100%;
                height: 2px;
                background-color: @accent-orange;
                margin-bottom: 21px;

            }
        }

        .left-column {
            text-align: left;
            .flex-column();
            min-height: 617px;
            max-width: 50vw;

            .slide-content {
                opacity: 0;
                display: none;
                max-width: 557px;

                .basic-text {
                    max-width: 487px;
                }

                &.content-active {
                    opacity: 1;
                    display: block;
                }
            }

        }

        .swiper-orange {
            position: absolute;
            right: 0;
            padding-bottom: 53px;
            width: 50vw;
            overflow: hidden;
            list-style: none;
            padding: 0;

            .swiper-wrapper {
                width: 100%;
                height: auto;

                .swiper-slide {
                    width: 435px;
                    height: 617px;
                    border-radius: 50px;
                    overflow: hidden;

                    .slider-image {
                        .flex-column(stretch);

                        img {
                            width: auto;
                            height: 100%;
                        }
                    }

                }
            }

        }

    }
}



