.basic-section {
    overflow: hidden;
    .b(mobile; {
    	padding: 30px 0px;
        text-align: center!important;
    });

    .basic-section__container {
        width: 668px;
        height: auto;
        text-align: center;
        .flex-column();
        margin: 0px auto;

        .b(mobile; {
        	width: calc(100% - 40px);
        });
    }

    .basic-section__container--medium {
        width: 744px;
        height: auto;
        text-align: center;
        .flex-column();
        margin: 0px auto;

        .b(mobile; {
        	width: calc(100% - 40px);
        });

        &.teeny-bit-bigger {
            width: 857px;

            .b(tablet; {
               width: calc(100% - 40px);
                max-width: 745px;
            });

            .b(mobile; {
                margin-bottom: 30px;
            });
        }

        &.about-education {
            .basic-heading p {
                .b(mobile; {
                	.font-size(30);
                    line-height: 40px;
                });
            }
            p {
                .font-size(20);
                letter-spacing: 0.4px;
                line-height: 30px;
            }
        }

        &.approach-i-believe {
            & > .h1:nth-of-type(2) p {
                .b(mobile; {
                    width: 100%;
                    .font-size(40)!important;
                    line-height: 50px;
                });
            }

            & > .h1:nth-of-type(4) {
                width: 649px;
                font-family: @font-light;

                .b(mobile; {
                	width: 100%;
                });
            }

            & > p {
                width: 696px;
                font-family: @font-normal;
                .font-size(20);
                letter-spacing: 0.4px;
                line-height: 30px;

                .b(mobile; {
                	width: 100%;
                    .font-size(18);
                    line-height: 25px;
                    letter-spacing: 0.36px;
                });
            }
        }
    }

    .basic-section__container--wide {
        width: 1082px;
        margin: 0px auto;
        .flex-column();
        text-align: center;

        .b(tablet; {
            width: calc(100% - 40px);
            max-width: 745px;
        })
    }

    .basic-section__container, .basic-section__container--wide, .basic-section__container--medium {

        //SEE global.less for other basic section components as they are used globally

        .basic-logo {
            margin-left: auto;
            margin-right: auto;
            max-width: 97px;
            height: auto;

            img {
                height: 100%;
                width: 100%;
                object-position: center;
                object-fit: contain;
            }

        }

        &.services-are-you-ready {
            width: 790px;

            .b(tablet; {
            	width: calc(100% - 40px);
                max-width: 745px;
            });

            .basic-logo {
                margin-left: auto;
                margin-right: auto;
                max-width: 75px;
                height: auto;

                .b(mobile; {
                    margin-bottom: 30px;
                });

                img {
                    height: 100%;
                    width: 100%;
                    object-position: center;
                    object-fit: contain;
                }

            }

            .basic-heading {
                width: 653px;

                .b(mobile; {
                	width: 100%;
                });
            }
        }

        &.wider-icon-list-than-all-others {
            width: 1190px;

            .b(laptop; {
                max-width: 98%;
            });
            .b(tablet; {
            	width: calc(100% - 40px);
                max-width: 745px;
            });
        }

        &.another-wider-icon-list {
            width: 1124px;

            .b(tablet; {
            	width: calc(100% - 40px);
                max-width: 745px;
            });
        }

        &.home-my-goal-a-little-bigger {
            width: 682px;
            .b(mobile; {
            	width: calc(100% - 40px);
            });

            p {
                letter-spacing: 0px;
                margin-bottom: 0px;
            }
        }
    }
}
