.bordered-image-color-block, .questions-section {
    .container {
        .colored-container {
            width: 100%;
            border-radius: 50px;
            .flex-row(space-between, stretch);
            height: auto;
            position: relative;

            .right-container {
                .flex-column();
                text-align: center;
                padding: 80px 150px;
            }

            .left-container {
                width: 50%;
                border-radius: 50px;
                border: 2px solid black;
                overflow: hidden;
                position: relative;
                display: flex;
                align-items: stretch;
                height: auto;

                .left-image {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    .flex-column();

                    img {
                        width: auto;
                        height: 100%;
                        object-fit: cover;
                    }

                }
            }
        }

    }
}

.bordered-image-color-block {
    &.meet-the-founder {

        .container {
            .colored-container {

                .left-container {
                    min-width: 50%;
                }

                .right-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 54px 0;
                    margin-left: 117px;
                    margin-right: 23px;
                    height: auto;
                    text-align: left;
                    width: 50%;

                    .all-caps-heading, .script-heading, .basic-text, .sub-heading {
                        max-width: 607px;
                        margin-right: auto;
                    }

                    .all-caps-heading {
                        p {
                            margin-bottom: 0;
                        }
                    }

                    .basic-text {
                        overflow-y: scroll;
                        max-height: 382px;

                        p {
                            margin-right: 70px;
                            max-width: 494px;
                            line-height: 21.2px;
                        }

                        /* width */

                        &::-webkit-scrollbar {
                            width: 5px;
                        }

                        /* Track */

                        &::-webkit-scrollbar-track {
                            background-color: transparent;
                        }

                        /* Handle */

                        &::-webkit-scrollbar-thumb {
                            background: @accent-orange;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}
