.cta-banner {
    width: 100%;
    height: auto;
    .flex-row(center, stretch);

    &.cta-banner-size__small {
        .cta_banner__inner {
            width: 1202px;
            height: auto;
            .flex-row(center, stretch);
        }

        .cta-banner__container__image {
            width: 491px;
        }

        .cta-banner__container__content {
            padding: 42px 80px 41px 60px;
            flex-grow: 1;
            width: 711px;

            .content__circle-wrapper {
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
            }

            .content__circle {
                height: 119px;
                width: 119px;
                .font-size(36);
                line-height: 50px;
            }

            .all-caps-heading {
                max-width: unset;
                margin-bottom: 16px;

                p {
                    margin-bottom: 0px;
                }
            }
        }

    }

    .cta_banner__inner {
        width: 100%;
        height: auto;
        .flex-row(center, stretch);
    }

    .cta-banner__container__image {
        width: 100%;
        display: flex;
        align-items: stretch;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;

        }

    }

    .cta-banner__container__content {
        width: 597px;
        grid-column: 2;
        .flex-column();
        position: relative;
        background-color: @accent-pink;
        padding: 100px 68px;
        text-align: center;
        height: 100%;
        flex-shrink: 0;

        .xl({
           padding: 100px 60px;
        });

        .lg({
            padding: 100px 19px;
            padding-top: 145px;
        });

        .md({
            padding: 80px 30px;
        });

        .content__circle-wrapper {
            position: absolute;
            top: 8%;
            left: -68px;
        }
        .content__circle {
            background-color: @accent-color;
            height: 92px;
            width: 92px;
            .flex-column();
            border-radius: 50%;
            font-family: @font-script;
            .font-size(28);
            line-height: 39px;
            transform: rotate(-15deg);

            .md({
               top: 0;
                left: 50%;
                transform: translate( -50%, -50%) rotate(-15deg);
            });

        }

        .all-caps-heading {
            margin-bottom: 18px;
            max-width: 500px;
        }

        .basic-content {
            margin-bottom: 30px;
            max-width: 360px;
        }

    }
}
