#half-and-half {

    .column-one__container {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .column-two__container {
        .flex-column();
        padding: 0 40px;
        max-width: 85%;
    }
}
