#half-and-half {

    .column-one__container {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;

        .md({
           padding: 40px;
        });

        .xs({
           padding: 22px
        });

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .column-two__container {
        .flex-column();
        padding: 90px 40px;
        max-width: 85%;

        .lg({
            padding: 90px 20px;
        });

        .md({
            padding: 40px;
            max-width: 100%;
        });

        .xs({
           padding: 22px;
        });
    }
}
