.hero-secondary {
    height: auto;
    min-height: calc(100vh - @header-height);
    width: 100%;
    position: relative;
    margin-top: @header-height;
    overflow: hidden;
    .flex-row(center, stretch);

    .b(tablet; {
       .flex-column();
    });

    .hero-secondary__content {
        .flex-column(center, flex-end);
        width: 42.6%;
        min-width: 597px;
        text-align: center;
        margin: auto;
        padding: 0 67px;
        flex-shrink: 0;

        .b(tablet; {
            align-items: center;
            margin-bottom: 30px;
        });

        .hero-secondary__content__inner {
            width: 440px;
            .flex-column();

            .spacer--85{
                .b(tablet; {
                	height: 30px;
                });
            }
        }

    }

    .hero-secondary__background {

        width: 100%;
        overflow: hidden;

        .sm({
           aspect-ratio: 1;
            height: 100%;
        });

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;

        }

    }
}

.page-id-459 {
    .hero-secondary {
        .hero-secondary__content {

            .b(tablet; {
                margin-top: 60px;
                margin-bottom: 30px;
            });
        }
        .hero-secondary__background {
            img {
                object-position: 0 0;
            }
        }
    }
}
