#hero-home {
    height: auto;
    width: 100%;
    min-height: calc(100vh - @header-height);
    position: relative;
    margin-top: @header-height;
    overflow: hidden;

    .md({
        //height: 100%;
        overflow: unset;
        padding-bottom: 44px;
    });

    .hero-home__background {
        position: absolute;
        top: 0;
        left: 0;
        .flex-row(space-between);
        height: 100%;
        width: 100%;
        z-index: 0;

        .xs({
            height: unset;
            aspect-ratio: 1;
        });

        .hero-home__background--1 {
            width: 69.2%;
            height: 100%;
            margin-right: 18px;
            min-height: 100%;
            object-fit: cover;
            object-position:right;
            .sm({
                width: 100%;
            });
        }

        .hero-home__background--2 {
            width: 29.4%;
            height: 100%;
            object-fit: cover;
            object-position: 90% 0px;

            .sm({
                display: none;
            });
        }
    }

    .hero-home__inner-container {
        width: 100%;
        height: auto;
        min-height: calc(100vh - @header-height);
        .flex-column(center);
        align-items: flex-end;
        padding: 214px 0px;
    }
    .hero-home__content-box {
        background-color: @white;
        padding: 48px 35px 57px 35px;
        .flex-column();
        max-width: 640px;
        margin-right: 16.5%;
        z-index: 1;
        text-align: center;

        .lg({
            margin-top: 45vh;
        });

        .md({
            margin-left: auto;
            margin-right: auto;
            transform: none;
        });

        .sm({
            width: 80%;
            padding: 30px 20px;
            margin-top: 80vh;
        });

        .xs({
            margin-top: 43vh;
        });

        .main-heading span {
            font-family: @font-italic;
        }

        .btn {
            margin-bottom: 7px;
        }
    }
}
