#hero-home {
    height: calc(100vh - @header-height);
    width: 100%;
    position: relative;
    margin-top: @header-height;
    overflow: hidden;

    .md({
        height: 100%;
        overflow: unset;
        padding-bottom: 44px;
    });

    .hero-home__background {
        position: absolute;
        top: 0;
        left: 0;
        .flex-row(flex-start);
        height: calc(100vh - @header-height);
        width: auto;
        z-index: 0;

        .xs({
           height: unset;
            aspect-ratio: 1;
        });

        .hero-home__background--1 {
            width: calc(70% - 18px);
            margin-right: 18px;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
            .sm({
               width: 100%;
            });
        }
        .hero-home__background--2 {
            width: 30%;
            height: 100%;
            object-fit: cover;
            object-position: right;

            .sm({
               display: none;
            });
        }
    }

    .hero-home__content-box {
        background-color: @white;
        padding: 50px 30px;
        .flex-column();
        height: 100%;
        max-width: 640px;
        margin-left: 50%;
        margin-top: 50vh;
        transform: translate(-20%, -50%);
        z-index: 1;
        text-align: center;

        .lg({
            margin-top: 45vh;
        });

        .md({
            margin-left: auto;
            margin-right: auto;
            transform: none;
        });

        .sm({
           width: 80%;
            padding: 30px 20px;
            margin-top: 80vh;
        });

        .xs({
            margin-top: 43vh;
        });

        .btn {
            margin-bottom: 7px;
        }
    }
}
