#hero-half {
    height: calc(100vh - @header-height);
    width: 100%;
    position: relative;
    margin-top: @header-height;
    overflow: hidden;

    .hero-image {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .basic-content {
        .flex-column();
        max-width: 500px;
        text-align: center;
        margin: auto;
    }
}
