.number-list {
    width: 1124px;
    margin: 0 auto;
    .flex-row(space-between, stretch);

    .b(tablet; {
       width: calc(100% - 40px);
        max-width: 745px;
        .flex-column();
    });

    .b(mobile; {
        margin-top: 10px;
    });

    .number-list__one {
        width: 478px;
        overflow: hidden;
        display: flex;
        align-items: stretch;

        .b(tablet; {
            margin-bottom: 40px;
            width: 100%;
            max-width: 745px;
        });

        .b(mobile; {
        	height: 450px;
        });

        img {

            object-fit: cover;
            object-position: 27% 0;
            height: 100%;
            width: 100%;
        }
    }


    .number-list__two {
        width: 597px;
        grid-column: 2;
        height: 100%;
        margin-left: 52px;
        display: grid;
        grid-auto-columns: minmax(0, 1fr);
        grid-auto-flow: column;
        overflow: hidden;

        .b(tablet; {
        	width: 100%;
            margin-left: unset;
        });

        ol {
            margin-top: 0;
        }

        .number-list__numbered-list__item {
            .flex-row(@justify: flex-start, @align: flex-start);

            &:not(:last-of-type) {
                margin-bottom: 50px;

                .b(mobile; {
                    margin-bottom: 30px;
                });
            }

            .number-list__numbered-list__item__number {
                font-family: @font-heading;
                .font-size(80);
                font-style: italic;
                margin-top: -8px;
                margin-right: 33px;
                width: 38px;
            }

            .number-list__numbered-list__item__content {

                .text-content {
                    line-height: 25px;
                    letter-spacing: 0.36px;

                    .b(mobile; {
                        .font-size(18);
                        letter-spacing: 0.36px;
                        line-height: 25px;
                    });
                }

                .all-caps-heading {
                    .b(mobile; {
                    	.font-size(18);
                        letter-spacing: 0.36px;
                        line-height: 25px;
                    });
                }

                .btn {
                    margin-top: 50px;
                    .b(mobile; {
                        margin-top: 30px;
                        margin-bottom: 20px;
                    });
                }
            }

        }

    }

}


