.parallax-image {
    overflow: hidden;
    height: 50vh;
    width: 100%;
    position: relative;

    .b(mobile; {
    	height: 300px;
    });

    .parallax {
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

}

.page-id-459 {
    .parallax-image .parallax {
        background-position: 34%;
    }
}
