.redefine-block {
    background-color: @background-color;
    position: relative;
    height: auto;
    width: 100%;

    .green-squiggle-1, .green-squiggle-2 {
        position: absolute;
        z-index: 0;
        width: 100%;

        svg {
            width: 100%;
            height: auto;
        }

    }

    .green-squiggle-1 {
        top: -35%;
        right: -20%;
    }

    .green-squiggle-2 {
        bottom: -67%;
        left: -1%;

    }

    .redefine-title p {
        padding-top: 148px;
        font-family: @font-heading;
        .font-size(96);
        line-height: 111.36px;
        position: relative;
        margin-bottom: -50px;
        z-index: 1;

    }

    .redefine-bottom {
        .flex-row(space-between, center);
        position: relative;
        z-index: 0;
        position: relative;

        .content {
            max-width: 485px;
            width: 100%;
            height: auto;

            .basic-content {
                margin-bottom: 56px;
            }

        }

        .image {
            width: 707px;
            height: 515px;
            border-radius: 50px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;

            }
        }

    }

    &.booking-page {
        padding-bottom: 159px;

        .green-squiggle-1 {
            transform: rotate(-81.41deg);
            right: -110%;
            bottom: -200%;
        }

        .green-squiggle-2 {
            transform: rotate(20.89deg);
            left: -36%;
            bottom: -130px;
        }
    }


}
