.redefine-block {
    background-color: @background-color;
    position: relative;
    height: auto;
    width: 100%;

    .squiggle-1, .squiggle-2 {
        position: absolute;
        z-index: 0;
    }

    .squiggle-1 {
        top: -380px;
        right: 0px;
    }

    .squiggle-2 {
        bottom: -70%;
        left: 0;
    }

    .redefine-title p {
        padding-top: 148px;
        font-family: @font-heading;
        .font-size(96);
        line-height: 111.36px;
        position: relative;
        margin-bottom: -50px;
        z-index: 1;

    }

    .redefine-bottom {
        .flex-row(space-between, center);
        position: relative;
        z-index: 0;
        position: relative;

        .content {
            max-width: 485px;
            width: 100%;
            height: auto;

            .basic-content {
                margin-bottom: 56px;
            }

        }

        .image {
            width: 707px;
            height: 515px;
            border-radius: 50px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;

            }
        }

    }


}
