.redefine-block {
    background-color: @background-color;
    position: relative;
    height: auto;
    width: 100%;

    .green-squiggle-1, .green-squiggle-2 {
        position: absolute;
        z-index: 0;
        width: 100%;

        svg {
            width: 100%;
            height: auto;
        }

    }

    .green-squiggle-1 {
        top: -37%;
        right: -37%;
        transform: rotate(9deg);
        width: 1990.93px;
        height: auto;
    }

    .green-squiggle-2 {
        bottom: -60%;
        left: -27%;
        transform: rotate(1deg);
        width: 119%;
        height: auto;

    }

    .redefine-title p {
        padding-top: 148px;
        font-family: @font-heading;
        .font-size(96);
        line-height: 111.36px;
        position: relative;
        margin-bottom: -58px;
        z-index: 1;

    }

    .redefine-bottom {
        .flex-row();
        position: relative;
        z-index: 0;
        position: relative;

        .content {
            width: calc(50% - 80px);
            height: auto;
            margin-left: 88px;

            .basic-content {
                margin-bottom: 56px;
                font-weight: 300;
                max-width: 473px;

                p {
                    font-family: inherit;
                }
            }

            .btn {
                padding: 22px 51px;
            }

        }

        .image {
            max-width: 707px;
            width: 50%;
            max-height: 515px;
            border-radius: 50px;
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;

            }
        }

    }

    &.booking-page {
        padding-bottom: 159px;

        .green-squiggle-1 {
            transform: rotate(-81.41deg);
            right: -110%;
            bottom: -200%;
        }

        .green-squiggle-2 {
            transform: rotate(20.89deg);
            left: -36%;
            bottom: -130px;
        }
    }


}
