.single-column-colored-block {
    width: 100%;
    height: auto;
    padding: 131px 0;

    .colored-block {
        max-width: 1039px;
        height: auto;
        padding: 76px 124px;
        text-align: center;
        border-radius: 50px;
        margin: 0 auto;

        .btn {
            min-width: 287px;
        }
    }
}
