.single-column-basic-content {
    position: relative;
    text-align: center;
    padding: 90px 0;
    height: auto;
    width: 100%;


    #next-section {
        position: relative;
    }

    .green-squiggle-1, .green-squiggle-2 {
        position: absolute;
        z-index: 0;
    }

    .green-squiggle-1 {
        top: -65%;
        right: 0;
    }

    .green-squiggle-2 {
        bottom: -56%;
        left: 0;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .green-blob {
        left: 0;
        bottom: -39%;
        position: absolute;
        z-index: 0;
        height: 822px;
        width: auto;

        svg {
            width: auto;
            height: 100%;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

//SPECIFIC ELEMENTS

.single-column-basic-content {

    &.overlap-next-section-button {
        min-height: calc(89vh - 129px);

        .next-section-arrow {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99;
            transform: translateY(50%);

        }

        .green-squiggle-1 {
            top: -53%;
            right: -39%;
            transform: rotate(7deg);
        }

        .green-squiggle-2 {
            bottom: -45%;
            left: -12%;
            width: 2024px;
            transform: rotate(-2deg);
        }
    }

    &.our-core-values {
        min-height: none !important;
    }

    &.class-near-you {
        padding-top: 106px;
        padding-bottom: 156px;

        .green-squiggle-1 {
            right: -77%;
            transform: rotate(-162.91deg);
            top: 73%;
            height: 440px;
        }

        .green-squiggle-2 {
            left: -11%;
            top: 116%;
            height: 440px;
            width: 121%;
            transform: rotate(5deg);
        }

        .container {
            max-width: 775px;
            padding: 0;
        }

    }

    &.green-blob-overlap {
        overflow: visible;
        padding-bottom: 0;
    }

    &.keep-link-orange {
        a {
            color: @accent-orange;

            &:hover {
                color: @accent-blue;
            }
        }
    }

    &.four-oh-four-squiggles {

        .green-squiggle-1 {
            right: -29%;
            top: -55%;

        }

        .green-squiggle-2 {
            left: -7px;
            top: 30%;
        }
    }

    &.what-is-this-hero {
        padding-bottom: 62px;
    }

    &.meet-the-coaches {
        padding-bottom: 55px;
    }

}


