.single-column-basic-content {
    position: relative;
    text-align: center;
    padding: 90px 0;
    height: auto;
    width: 100%;

    &.overlap-next-section-button {
        .next-section-arrow {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99;
            transform: translateY(50%);
        }
    }

    #next-section {
        position: relative;
    }

    .green-squiggle-1, .green-squiggle-2 {
        position: absolute;
        z-index: 0;
    }

    .green-squiggle-1 {
        top: -65%;
        right: 0;
    }

    .green-squiggle-2 {
        bottom: -56%;
        left: 0;

        svg {
            width: 100vw;
            height: auto;
        }
    }

    .green-blob {
        left: 0;
        bottom: -20%;
        position: absolute;
        z-index: 0;
        height: 822px;
        width: auto;

        svg {
            width: auto;
            height: 100%;
        }
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

//SPECIFIC ELEMENTS

.single-column-basic-content {

    &.our-core-values {
        min-height: none !important;
    }


    &.overlap-next-section-button {
        min-height: calc(80vh - @header-height);
    }


    &.class-near-you {

        .green-squiggle-1 {
            right: -59%;
            transform: rotate(-147.91deg);
            top: 25%;
        }

        .green-squiggle-2 {
            left: -14.49%;
            top: 130%;
        }

        .container {
            max-width: 775px;
            padding: 0;
        }


    }

    &.green-blob-overlap {
        overflow: visible;
    }

    &.keep-link-orange {
        a {
            color: @accent-orange;

            &:hover {
                color: @accent-blue;
            }
        }
    }

    &.four-oh-four-squiggles{

        .green-squiggle-1 {
            right: -29%;
            top: -55%;

        }

        .green-squiggle-2 {
            left: -7px;
            top: 30%;
        }
}
}


