.terms-block {
    padding: 81px 0 59px 0;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-color: @background-color;


    .container {
        .flex-row(flex-start, space-between);

        .left-column {
            max-width: 573px;
            margin-right: 139px;
            .flex-column(flex-start, flex-start);
        }

        .right-column {
            max-width: 706px;
            .flex-column(flex-start, flex-start);

            .sub-heading {
                margin-bottom: 32px;

                p {
                    margin-bottom: 50px;
                }
            }
        }
    }
}
