.terms-block {
    padding: 81px 0 59px 0;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-color: @background-color;


    .container {
        .flex-row(space-between, flex-start);

        .left-column {
            max-width: 573px;
            margin-right: 139px;
            .flex-column(flex-start, flex-start);
        }

        .right-column {
            max-width: 706px;
            .flex-column(flex-start, flex-start);

        }
    }

    &.faq-p-spacing {

        .sub-heading {
            margin-bottom: 32px;

            p {
                margin-bottom: 50px;
            }
        }

        .basic-text p {
            margin-bottom: 32px;
        }

    }
}
