.testimonials {
    width: 100%;
    height: auto;
    overflow: hidden;

    .b(mobile; {
        margin-top: -30px;
        margin-bottom: 30px;
    });

    .testimonials__container {
        width:1124px;
        margin: 0 auto;
        padding: 0 15px;

        .b(tablet; {
           width: calc(100% - 40px);
        });
    }

    .testimonials__box {
        height: auto;
        width: 100%;
        background-color: #F7F7F9;
        aspect-ratio: 2;
        max-height: 60vh;

        .b(tablet; {
            padding-top: 30px;
        });
    }

    .swiper {
        height: 100%;
        width: 100%;
        max-width: 465px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .b(mobile; {
        	text-align: center;
            padding: 0 20px;
        });

        .swiper-wrapper {
            height: auto;

            .swiper-slide {
                width: 100%;
                height: auto;
                position: relative;

                .swiper-slide__content {
                    .flex-column(@justify: center, @align: flex-start);
                    height: 100%;
                    width: 100%;

                    .swiper-slide__content__text {
                        font-style: italic;
                        .font-size(20);
                        letter-spacing: 0.4px;
                        line-height: 30px;
                        margin-bottom: 20px;
                        font-family: @font-heading;
                    }

                    .swiper-slide__content__name {
                        font-family: @font-bold;
                        .font-size(18);
                        line-height: 25px;
                        margin-bottom: 17px;
                        font-weight: bold;

                        .b(mobile; {
                        	width: 100%;
                            text-align: center;
                        });
                    }

                }
            }

            .swiper-pagination {
                position: absolute;
                left: -4px;
                width: auto;
                bottom: 0;

                .b(mobile; {
                	width: 100%;
                });

                .swiper-pagination-bullet-active {
                    background-color: @black;

                }

                .swiper-pagination-bullet {

                }
            }
        }

    }

    .testimonials__box__image {
        overflow: hidden;
        max-height: 538px;
        width: 100%;

        .b(tablet; {
            max-height: 300px;
        });

        .b(mobile; {
            margin-top: 30px;

            max-height: 205px;
        });


        img {
            height: 110%;
            width: 117%;
            max-height: 538px;
            object-fit: cover;
            object-position: 64px -140px;

            .b(tablet; {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: 0 -100px;
            });

            .b(mobile; {
            	object-position: 0 -50px;
            });
        }

    }

}


