.three-featured-blogs {
    padding: 89px 0 0 0;
    position: relative;
    z-index: 2;

    .blue-border {
        border-top: 2px solid @accent-blue;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        max-width: 1414px;
        padding: 0 50px;
        height: 2px;
        width: 100%;
        margin: 0 auto;
    }

    .all-caps-heading {
        margin-bottom: 90px;
        margin-left: auto;
        margin-right: auto;
        color: @accent-orange;
        text-align: center;
    }

    .featured-blogs {
        .flex-row(space-between, center);

        .featured-post {
            .flex-column();

            &:not(:last-of-type) {
                margin-right: 103px;
            }

            .post-image {
                height: 489px;
                width: 403px;
                margin-bottom: 36px;
                border-radius: 50px;
                overflow: hidden;
                .flex-column();


                img {
                    height: 100%;
                    width: auto;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .post-title {
                text-transform: uppercase;
                font-weight: 700;
                color: @accent-orange;
                .font-size(28);
                line-height: 1;
                text-align: center;
                margin-bottom: 26px;
                font-family: @font-bold;
            }

            .btn {
                padding: 22px 42px;
            }

        }

    }
}
