.two-column {
    overflow: hidden;
    height: 100%;
    padding-top: 85px;
    padding-bottom: 120px;

    .two-column__container {
        margin: 0 auto;
        width: 1124px;
        .flex-row(space-between, stretch);
    }

    .sm({
        padding-bottom: 40px;
        padding-top: 40px;
    });

    .column-one__content {
        width: 454px;
        padding: 26px 0px;

        .md({
            margin-top: 80px;
        });

        .script-heading {
            margin-bottom: 8px;
        }

    }

    .column-two__container {
        width: 613px;
        .flex-row(space-between, stretch);
    }

    .two-column__image-one {
        width: 301px;
        position: relative;
        display: flex;
        align-items: stretch;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }

        .spinning-logo__container {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
            width: 159px;
            height: 159px;

            .md({});

            img.spinning-logo {
                width: 100%;
                height: auto;
            }

        }
    }

    .two-column__image-two {
        width: 301px;
        display: flex;
        align-items: stretch;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }

    }

}
