
.two-colored-blocks {
    padding-bottom: 119px;
    position: relative;
    z-index: 2;

    .b(tablet; {
        padding-bottom: 90px;
    });

    .xs({
        padding-bottom: 60px;
    });

    .colored-blocks {
        .flex-row();
        align-items: stretch;

        .b(tablet; {
        	.flex-column();
        });

        .left-colored-block, .right-colored-block {
            width: 50%;
            height: auto;
            padding: 85px 92px;
            border-radius: 50px;
            flex: 1 1 auto;
            text-align: center;
            .flex-column(space-between, center);

            .b(laptop; {
            	padding: 85px 50px;
            });

            .b(tablet; {
            	width: 100%;
            });

            .xs({
            	padding: 70px 20px;
            });

            .script-heading {
                .font-size(48);
                line-height: 48.48px;
                margin-bottom: 0;

                p {
                    margin-bottom: 36px;
                }

                .xs({
                	.font-size(40);
                    line-height: 101%;

                    p {
                        margin-bottom: 20px;
                    }
                });
            }

            .sub-heading {
                margin-bottom: 0;

                p {
                    margin-bottom: 36px;
                }
            }
        }

        .left-colored-block {
            margin-right: 16px;

            .b(tablet; {
                margin-right: 0;
                margin-bottom: 20px;
            });
        }

        .right-colored-block {
            margin-left: 16px;
            .b(tablet; {
                margin-left: 0;
            });
        }
    }


}
