.two-column-banner {
    margin-bottom: 80px;
    .container {
        .banner {
            width: 100%;
            height: auto;
            min-height: 454px;
            padding: 77px 92px;
            .flex-row(space-between, flex-start);
            border-radius: 50px;

            .left-column {
                margin-right: 100px;

                .script-heading {
                    p {
                        .font-size(48);
                        line-height: 48.48px;
                        margin-bottom: 32px;
                    }
                }


            }

            .right-column {
                max-width: 549px;
                height: auto;
            }
        }
    }
}
