#two-column {
    overflow: hidden;
    height: 100%;
    padding-top: 85px;
    padding-bottom: 120px;

    .sm({
        padding-bottom: 40px;
        padding-top: 40px;
    });

    .row {
        height: 100%;

        .xs({
           margin-right: unset;
            margin-left: unset;
        });
    }

    .column-one__content {

        .md({
            margin-top: 80px;
        });

        .script-heading {
            margin-bottom: 8px;
        }

    }

    .two-column__image-one {
        height: 100%;
        width: 100%;
        padding-right: 11px;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }

        .spinning-logo__container {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(-50%, 50%);
            width: 159px;
            height: 159px;

            .md({});

            img.spinning-logo {
                width: 100%;
                height: auto;
            }

        }
    }

    .two-column__image-two {
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
        }

    }

}
