#two-column-content {
    padding: 85px 0;

    .basic-content {
        .flex-column(center, center);
        max-width: 500px;
        text-align: center;
        margin: auto;
    }

    .bullet-list {
        .flex-column(center, flex-start);
    }
}
