.two-column-content-and-image {
    position: relative;
    color: @accent-orange;
    overflow: hidden;

    .purple-blob--single {
        position: absolute;
        bottom: -16%;
        right: 0;
        z-index: 0;
    }

    .green-blob {
        position: absolute;
        right: 0;
        transform: rotate(180deg);
        top: -10%;
        z-index: 0;
        height: 1288px;
        width: auto;

        svg {
            height: 100%;
            width: auto;
        }
    }

    .purple-blob--1, .purple-blob--2 {
        position: absolute;
        z-index: 0;
    }

    .purple-blob--1 {
        top: -87%;
        left: -10%;
        transform: rotate(180deg);
        width: 56vw;
        height: auto;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .purple-blob--2 {
        bottom: -66%;
        right: 0;
        width: 56vw;
        height: auto;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .container {
        .flex-row();
        z-index: 1;
        position: relative;
        padding: 127px 50px;

        .left-column {
            .flex-column(flex-start, flex-start);
            margin-right: 103px;
            max-width: 643px;

            .all-caps-heading p {
                margin-bottom: 0;
            }

            .sub-heading p {
                margin-bottom: 0;
            }

            .btn {
                min-width: 191px;
            }

            ul {
                max-width: 561px;
            }

        }

        .right-column {
            .flex-column(flex-start, flex-start);

            .image-container {
                position: relative;
                z-index: 1;
                .flex-column();
                border-radius: 50px;
                overflow: hidden;
                height: 777px;
                width: 666px;

                img {
                    width: auto;
                    height: 100%;
                }
            }

        }
    }

    &.green-blob-overlap {
        overflow: visible;
    }

    &.tshirt-basic-content {

        .container {
            padding-bottom: 147px;
            .flex-row(flex-start);

            .left-column {
                padding-bottom: 81px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-right: 53px;
                padding-top: 80px;
                max-width: 643px;
                margin-left: 56px;
            }

            .right-column {

                .image-container {
                    overflow: visible!important;
                    height: 610px;
                    width: 561px;
                }
            }
        }


        .sub-heading {
            max-width: 405px!important;
        }
    }
}

