.two-column-content-and-image {
    position: relative;
    color: @accent-orange;
    overflow: hidden;
    height: auto;
    width: 100%;

    .purple-blob--single {
        position: absolute;
        bottom: -16%;
        right: 0;
        z-index: 0;

        .b(laptop; {
            right: -20%;
        });

        .b(mobile; {
            bottom: -46%;
        });
    }

    .green-blob {
        position: absolute;
        right: -4%;
        transform: rotate(180deg);
        top: -8%;
        z-index: 0;
        height: 1288px;
        width: auto;

        .b(laptop; {
            right: -11%;
            top: 49%;
            z-index: 0;
            height: 888px;
            width: auto;
        });

        .sm({
        	height: 444px;
            top: 62%;
        });

        svg {
            height: 100%;
            width: auto;
        }
    }

    .purple-blob--1, .purple-blob--2 {
        position: absolute;
        z-index: 0;
    }

    .purple-blob--1 {
        top: -108%;
        left: -20%;
        transform: rotate(180deg);
        width: 56vw;
        height: auto;

        .b(desktop; {
            top: -87%;
            left: -10%;
        });

        .b(desktop; {
            top: -77%;
            width: 59vw;
        });

        .b(laptop; {
        	top: -37%;
            left: -18%;
        });

        .b(tablet; {
            top: -33%;
            left: -7%;

        });

        .b(mobile; {
        	width: 92vw;
            top: -43%;
            left: -7%;
        });

        svg {
            width: 100%;
            height: auto;
        }
    }

    .purple-blob--2 {
        bottom: -66%;
        right: -20%;
        width: 56vw;
        height: auto;

        .b(desktop; {
            bottom: -62%;
            right: 0;
            width: 66vw;
        });

        .b(laptop; {
            bottom: -42%;
        });

        .b(tablet; {
            bottom: -31%;
        });

        .b(mobile; {
            bottom: -34%;
            width: 92vw;
        });

        svg {
            width: 100%;
            height: auto;
        }
    }

    .container {
        .flex-row();
        z-index: 1;
        position: relative;
        padding: 127px 50px;
        justify-content: space-between;

        .b(laptop; {
        	.flex-column();
            text-align: center;
            padding: 90px 50px;
        });

        .b(tablet; {
        	padding: 60px 20px;
        });

        .left-column {
            .flex-column(flex-start, flex-start);
            margin-right: 103px;
            max-width: 643px;

            .b(desktop; {
                margin-right: 80px;
            });

            .b(laptop; {
                margin-bottom: 60px;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-right: 0;
            });

            .b(tablet; {
                max-width: 100%;
            });

            .all-caps-heading p {
                margin-bottom: 0;

                .b(desktop; {
                	.font-size(56);
                    line-height: 101%;
                });

                .b(mobile; {
                	.font-size(39);
                    line-height: 101%;
                });
            }

            .sub-heading p {
                margin-bottom: 0;
            }

            .btn {
                min-width: 191px;
            }

            ul {
                max-width: 561px;

                .b(laptop; {
                	text-align: left;
                });

                li {
                }
            }

        }

        .right-column {
            .flex-column(flex-start, flex-start);

            .b(tablet; {
            	justify-content: center;
                align-items: center;
            });

            .image-container {
                position: relative;
                z-index: 1;
                .flex-column();
                border-radius: 50px;
                overflow: hidden;
                max-height: 777px;
                max-width: 666px;
                height: auto;
                width: 100%;

                .b(desktop; {
                	height: 100%;
                });

                .b(tablet; {
                	width: calc(100% - 40px);
                });

                img {
                    width: auto;
                    height: 100%;
                }
            }

        }
    }

    &.green-blob-overlap {
        overflow: visible;
        .container {

            .left-column {
                width: 50%;

                .b(laptop; {
                	width: 100%;
                });

                .btn {
                    min-width: 223px;
                }
            }

            .right-column {
                width: 50%;
                max-width: 666px;

                .b(laptop; {

                    width: 100%;
                });

                .image-container {
                    max-height: 777px;
                }
            }
        }
    }

    &.tshirt-basic-content {

        .container {
            padding-bottom: 147px;
            .flex-row(flex-start);

            .b(laptop; {
                padding: 20px 50px 80px 50px;
                padding-bottom: 20px;
            });


            .b(tablet; {
            	.flex-column();
                padding-bottom: 60px;
            });

            .left-column {
                padding-bottom: 81px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-right: 53px;
                padding-top: 80px;
                max-width: 643px;
                margin-left: 56px;

                .b(desktop; {
                    margin-right: 30px;
                });

                .b(laptop; {
                	max-width: 50%;
                    text-align: left;
                    align-items: flex-start;
                    justify-content: flex-start;
                });

                .b(tablet; {
                	justify-content: center;
                    align-items: center;
                    margin-right: unset;
                    max-width: 100%;
                    margin-left: unset;
                    padding-top: 0;
                    padding-bottom: 0;
                    text-align: center;
                });

                .b(mobile; {
                    padding-top: 0;
                });
            }

            .right-column {

                .b(laptop; {
                	max-width: 50%;
                });

                .b(tablet; {
                	max-width: unset;
                });

                .image-container {
                    overflow: visible!important;
                    height: 610px;
                    width: 561px;

                    .b(laptop; {
                    	max-width: 100%;
                    });

                    .b(mobile; {
                    	width: 100%;
                        height: auto;
                    });
                }
            }
        }


        .sub-heading {
            max-width: 405px!important;
        }
    }
}

