//ICON LIST
.wider-icon-list-than-all-others{
    .icon-list .icon-list__item{
        margin-right: unset;
        margin-left: unset;
    }
    .icon-list .icon-list__item .icon-list__content.icon-list__content--wide{
        width: 210px;
        max-width: unset;
    }
}
.icon-list {
    .flex-row(@justify: space-between);
    align-items: flex-start;
    width: 100%;

    .b(tablet; {
        justify-content: center;
    	flex-wrap: wrap;
        align-items: center;
        margin-bottom: -40px;
    });

    .icon-list__item {
        .flex-column();
        margin-right: 10px;
        margin-left: 10px;

        .b(tablet; {
            margin-bottom: 40px;
        });

        .icon-list__colored-icon {
            height: 91px;
            width: 91px;
            background-color: @accent-color;
            border-radius: 50%;
            .flex-column();
            margin-bottom: 20px;

            img {
                height: 100%;
                width: auto;
                max-height: 75px;
                max-width: 66px;
                margin: auto;
            }
        }

        .icon-list__icon {
            height: 60px;
            width: 60px;
            max-height: 52px;
            max-width: 54px;
            .flex-column();
            margin-bottom: 20px;

            img {
                height: 100%;
                width: auto;
                margin: auto;
            }
        }

        .icon-list__content {
            max-width: 175px;
            font-weight: normal;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h5 {
                font-family: @font-normal-semi-bold;
                letter-spacing: 0.3px;
                line-height: 20px;
            }

            &.icon-list__content--wide {
                max-width: 228px;

                p {
                    .font-size(15);
                    letter-spacing: 0.3px;
                    line-height: 20px;
                    font-family: @font-normal;
                }

                h2, h3, h5 {
                    font-family: @font-normal-semi-bold;
                    letter-spacing: 0.3px;
                    line-height: 20px;

                }
            }

            .accordion-collapse {
                .accordion-content-text {
                    margin-top: 20px;
                    .font-size(15);
                    letter-spacing: 0.3px;
                    line-height: 20px;
                }
            }

            .accordion-header {

                h5 {
                    min-height: 58px;
                    width: 175px;
                    font-family: @font-normal-semi-bold;
                    text-transform: uppercase;
                    .font-size(15);
                    letter-spacing: 0px;
                    line-height: 20px;
                }

                .accordion-button {

                    .accordion-icon {
                        font-family: @font-normal-semi-bold;
                        text-transform: uppercase;
                        .font-size(18);
                        letter-spacing: 0.36px;
                        line-height: 25px;
                    }

                    .plus {display: none;}

                    .minus {display: block;}

                    &.collapsed {
                        .plus {display: block}

                        .minus {display: none;}
                    }

                    svg {
                        margin: auto;
                    }

                }

            }

        }
    }
}

//SPECIAL ICON LISTS

.icon-list__no-wrap {
    .icon-list {
        flex-wrap: nowrap;
    }
}
