.image_and_content__container {
    width: 1132px;

    .flex-row(flex-start);

    .md({
       .flex-column();
    });

    .image_container {
        overflow: hidden;
        width: 547px;
        height: auto;
        aspect-ratio: 1.2/1;

        .md({
           width: 100%;
        });

        img {
            width: 100%;
            height: auto;
            object-position: center;
            object-fit: cover;
        }
    }

    .content_container {
        .flex-column();
        width: 500px;
        margin-left: 41px;

        .md({
           width: 100%;
            padding: 0;
            padding-top: 50px;
        });

        .sm({
            padding-top: 30px;
        });
    }
}
