/***********************************************************************/
/*********** CONTACT PAGE **********************************************/
/***********************************************************************/
#contact-page-hero {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: @header-height;
    overflow: hidden;

    .desktop-display {
        .b(tablet; {
           display: none;
        });
    }

    .mobile-display {
        display: none;
        //font-family: @font-normal;
        //.font-size(18);
        //letter-spacing: 0.36px;
        //line-height: 25px;

        .b(tablet; {
           display: block;
        });
    }

    .contact-page__section-one {
        .full-width();
        .flex-row(flex-end, flex-start);

        .b(tablet; {
        	.flex-column();
        });

        .contact-page__section-one__inner {
            width: 1267px;
            .flex-row(space-between, flex-start);

            .b(laptop; {
                width: calc(100% - 30px);
            });

            .b(tablet; {
            	.flex-column();
                width: 100%;
            });
        }

        .contact-page__section-one__content {
            margin-top: 185px;
            width: 572px;

            .b(tablet; {
                margin-top: 80px;
            });

            .script-heading {
                margin-bottom: 10px;
            }

            .basic-heading {
                margin-bottom: 80px;
            }

            .section-one-inner {
                width: 511px;

                .all-caps-heading {
                    margin-bottom: 30px;
                }

                .basic-content {
                    margin-bottom: 30px;
                    .font-size(18);
                    letter-spacing: 0.36px;
                    line-height: 25px;
                    font-family: @font-normal;
                }
            }


        }

        .contact-page__section-one__images {
            position: relative;
            width: 695px;
            text-align: right;

            .b(laptop; {
                width: 100%;
            });

            .contact-page__image-one {
                width: 625px;
                position: relative;
                top: 0;
                right: 0;
                overflow: hidden;
                margin-left: auto;

                .b(laptop; {
                    width: 450px;
                });

                .b(tablet; {
                	width: 100%;
                });

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: bottom left;
                }
            }

            .contact-page__image-two {
                position: absolute;
                overflow: hidden;
                width: 358px;
                height: 419px;
                margin-top: -100px;

                .b(tablet; {
                	position: relative;
                    margin-bottom: 30px;
                    margin-left: auto;
                    margin-right: auto;
                });

                img {
                    height: 100%;
                    width: 100%;
                    object-position: left;
                    object-fit: cover;
                }
            }

        }
    }

    .contact-page__section-two {
        .full-width();
        .flex-row(flex-end, flex-start);

        .b(tablet; {
        	.flex-row();
        });


        .contact-page__section-two__inner {
            width: 1267px;
            .flex-row(space-between, flex-start);

            .b(laptop; {
                width: calc(100% - 30px);
            });

            .b(tablet; {
                width: calc(100% - 40px);
                .flex-row();
            });
        }

        .contact-page__section-two__content {
            max-width: 525px;

            .b(tablet; {
                margin-bottom: 40px;
                margin-top: 40px;
                max-width: 745px;
            });

            .basic-content {
                margin-top: 30px;
                margin-bottom: 60px;

                .xs({
                    margin-bottom: 40px;
                });
            }

            .all-caps-heading {
                .sm({
                    margin-bottom: 15px;
                });
            }

            .basic-content {
                margin-bottom: 60px;
                .font-size(18);
                letter-spacing: 0.36px;
                line-height: 25px;
                font-family: @font-normal;
            }

        }

        .contact-page__section-two__image {
            width: 463px;
            height: 369px;
            margin-top: -100px;
            margin-bottom: 100px;

            .b(tablet; {
            	display: none;
            });

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

        }
    }

}

#contact-page-form {
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    .xs({
        padding-top: 30px;
        padding-bottom: 20px;
    });

    .contact-page-form {
        .flex-column();
        text-align: center;

        .basic-heading {
            margin-bottom: 20px;
            font-style: italic;

            .xs({
                padding: 0 30px;
            });
        }

        .all-caps-heading {
            margin-bottom: 60px;

            .xs({
                margin-bottom: 40px;
            });
        }
    }
}

/***********************************************************************/
/*** CONTACT FORM 7 ****************************************************/
/***********************************************************************/

.wpcf7-form-control-wrap {

    width: 100%;

    input {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid black;
        text-align: center;
        text-transform: uppercase;
        font-family: @font-normal;
        .font-size(15);
        letter-spacing: 0.3px;
        line-height: 20px;
        color: @black;
        margin-bottom: 35px;

        &:focus {
            border: 1px solid @black;
        }
    }

    ::-webkit-input-placeholder { /* WebKit browsers */
        color: #000 !important;
        opacity: 1;
    }

    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #000 !important;
        opacity: 1;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #000 !important;
        opacity: 1;
    }

    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #000 !important;
        opacity: 1;
    }

}

.wpcf7 {
    width: 55%;
    text-align: center;

    .sm({
        width: 75%;
    });

    .xs({
        width: 100%;
    });

    label {
        text-transform: uppercase;
        font-family: @font-normal;
        .font-size(15);
        letter-spacing: 0.3px;
        line-height: 20px;
        text-align: center;
        width: 100%;
    }

    textarea {
        border: 1px solid black;
        background-color: @white;
        margin-top: 7px;
        color: black;
        text-transform: none;
        text-align: left;
        margin-bottom: 35px;
    }

    button {
        text-align: center;
        text-transform: uppercase;
    }

    input.btn--primary {
        line-height: 1;
        max-width: 243px;
        margin-right: auto;
        margin-left: auto;


    }
}

.wpcf7-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wpcf7-form-control {
    text-align: center;
    text-transform: uppercase;
}

.wpcf7-not-valid-tip {
    text-transform: uppercase;
    font-family: @font-normal;
    .font-size(15);
    letter-spacing: 0.3px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: none;
    max-width: 475px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff1000+0,e25600+100 */
    background: rgb(255, 16, 0); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255, 16, 0, 1) 0%, rgba(226, 86, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255, 16, 0, 1) 0%, rgba(226, 86, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255, 16, 0, 1) 0%, rgba(226, 86, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1000', endColorstr='#e25600',GradientType=1); /* IE6-9 fallback on horizontal gradient */
    color: @white;
    margin: @baseline*2 auto 0px auto;
    .font-size(13);
    padding: @baseline;
    .transition();

    &:before {
        content: "\f071";
        font-family: @font-awesome;
        .font-size(13);
        padding-right: @baseline;
    }
}

div.wpcf7-mail-sent-ok {
    border: none;
    max-width: 475px;
    color: @white !important;
    margin: @baseline*2 auto 0px auto;
    .font-size(13);
    padding: @baseline;
    .transition();

    &:before {
        content: "\f058";
        font-family: @font-awesome;
        .font-size(13);
        padding-right: @baseline;
    }
}

.wpcf7 form.sent .wpcf7-response-output, .wpcf7 form .wpcf7-response-output {
    border-color: @accent-color;
    font-family: @font-normal;
    margin-top: 20px;
    border: 2px solid @accent-color;
}


