.contact-hero {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 86px;

    .b(tablet; {
        padding-bottom: 46px;
    });

    .sm({
        padding-bottom: 26px;
    });


    .blue-border {
        z-index: 2;
        padding: 0 50px;
        width: calc(100% - 100px);

        .b(tablet; {
        	padding: 0 20px;
            width: calc(100% - 40px);
        });
    }

    .green-squiggle-1, .green-squiggle-2 {
        position: absolute;
        z-index: 0;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .green-squiggle-1 {
        transform: rotate(-164.2deg);
        right: 540px;
        top: 320px;
        width: 119%;

        .b(desktop; {
            right: 360px;
            top: 440px;
            width: 130%;
        });

        .b(laptop; {
            right: 300px;
            top: 530px;
            width: 119%;
        });

        .b(tablet; {
            right: 256px;
            top: 430px;
        });

        .sm({
            right: 206px;
            top: 400px;
        });

        .xs({
            right: 106px;
            top: 390px;
        });
    }

    .green-squiggle-2 {
        transform: rotate(130.15deg);
        left: 430px;
        top: 340px;
        width: 119%;

        .b(desktop; {
            top: 535px;
            lefT: 258px;
            transform: rotate(122.15deg);
        });

        .b(laptop; {
            top: 485px;
        });

        .b(tablet; {
            top: 385px;
            transform: rotate(141.15deg);
            left: 238px;
        });

        .sm({
            top: 355px;
            transform: rotate(141.15deg);
            left: 178px;
        });

        .xs({
            top: 355px;
            transform: rotate(141.15deg);
            left: 108px;
        });
    }

    .blue-border-bottom {
        height: 2px;
        width: calc(100% - 100px);
        max-width: 1414px;
        padding: 0 50px;
        background-color: @accent-blue;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        margin: 0 auto;

        .b(tablet; {
            padding: 0 20px;
            width: calc(100% - 40px);
        });


    }

    .container {
        .flex-column();
        z-index: 1;
        position: relative;
        text-align: center;

        .half-image {
            width: 100%;
            height: auto;
            border-radius: 0 0 50px 50px;
            margin-bottom: 86px;
            overflow: hidden;
            z-index: 0;
            max-height: calc(51vh - @header-height);
            .flex-column();
            min-height: 250px;

            .b(tablet; {
                margin-bottom: 66px;
            });

            .xs({
                margin-bottom: 26px;
                justify-content: flex-start;
            });

            img {
                width: 100%;
                height: auto;
                object-fit: cover;

                .xs({
                	width: auto;
                    height: 100%;
                });
            }
        }

        .all-caps-heading {
            max-width: 900px;
            margin-bottom: 41px;
            color: @accent-dark-purple;

            .sm({
                margin-bottom: 10px;
            });

            .xs({
            	.font-size(30);
                line-height: 101%;
            });
        }

        .sub-heading {
            max-width: 432px;
            color: @accent-dark-purple;
            font-family: @font-bold;
            font-weight: 700;

            .sm({
            	.font-size(20);
                max-width: 320px;
            });

            .xs({
                max-width: 310px;
            });
        }
    }

}

.city-slider.city-slider-contact-page {
    margin: 159px 0 230px 0;

    .b(tablet; {
        margin: 129px 0 150px 0;
    });

    .sm({
    	margin: 60px 0 80px 0;
    });

    .city-content {
        padding: 0;
        max-width: 50%;
        margin-right: 30px;

        .b(tablet; {
        	padding-right: 30px;
        });

        .sm({
        	width: 100%;
            max-width: unset;
            margin-right: 0;
            text-align: center;
            padding-right: 0;
        });

        .sub-heading {
            color: @accent-dark-purple;
            font-family: @font-bold;
            max-width: 336px;
            font-weight: 700;
            margin-bottom: 35px;

            .b(tablet; {
            	.font-size(22);
                line-height: 101%;
                margin-bottom: 25px;
                max-width: 240px;
            });

            .sm({
            	max-width: 360px;
            });

            .b(mobile; {
                .font-size(20);
                max-width: 220px;
            });

            p {
                margin-bottom: 0;
            }
        }

        .all-caps-heading {

            .b(tablet; {
                .font-size(42);
                line-height: 101%;
            });

            .b(mobile; {
                .font-size(30);
            });

            p {
                margin-bottom: 0;
            }

        }

        .script-heading {
            color: @accent-dark-purple;
            .font-size(96);
            max-width: 571px;
            line-height: 101.76px;
            margin-bottom: 35px;

            .b(laptop; {
                .font-size(74);
                line-height: 101%;
            });

            .b(tablet; {
                .font-size(60);
            });

            .b(mobile; {
                .font-size(44);
            });

            p {
                margin-bottom: 0;
            }
        }
    }

    .city-swiper {
        margin: 0 auto;

        .sm({
        	margin: 0 -20px;
        });

        .swiper-wrapper {
            width: 50vw;

            .sm({
            	width: calc(100% - 40px) ;
            });
        }

        .swiper-slide {
            border-radius: 50px;
            width: 435px;
            height: 617px;

            .sm({
                width: calc(100% - 40px);
                max-width: 463px;
                height: 562px;
            });

            .xs({
                height: 380px;
            });

            &:nth-of-type(1n) {
                border-radius: 50px;
            }

            &:nth-of-type(2n) {
                border-radius: 50px!important;
            }
        }
    }
}

.contact-form {
    text-align: center;
    max-width: 685px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .all-caps-heading {
        margin-bottom: 59px;

        .b(mobile; {
            margin-bottom: 40px;
        });
    }

    input {
        border-radius: 50px;
        height: 64px;
        border: 1px solid @accent-orange;
        background-color: @background-color;
        padding-left: 51px !important;
        color: @accent-orange;
        font-weight: 700;
        font-family: @font-bold;

        &:focus {
            border-color: @accent-blue;
        }

        &::placeholder {
            text-transform: uppercase;
            .font-size(16);
            line-height: 19.92px;
            color: @accent-orange;
            font-weight: 700;
        }
    }

    textarea {
        border-radius: 25px;
        height: 64px;
        border: 1px solid @accent-orange;
        background-color: @background-color;
        padding-left: 51px !important;
        padding-top: 22px !important;
        color: @accent-orange;
        font-weight: 700;
        font-family: @font-bold;

        &:focus {
            border-color: @accent-blue;
        }

        &::placeholder {
            text-transform: uppercase;
            .font-size(16);
            line-height: 19.92px;
            color: @accent-orange;
            font-weight: 700;
        }
    }

    .gform_wrapper {
        margin-bottom: 50px;

        .gform_heading {
            display: none !important;
        }

    }

    #gform_submit_button_1 {
        width: 287px;
        background-color: @accent-pink;
        color: @accent-orange;
        margin: 0 auto;
        text-transform: uppercase;
        border: 1px solid @accent-pink;
        font-weight: 700;
        text-align: center;
        padding: 0 50px;

        &:hover {
            border-color: @accent-orange;
        }
    }

    #gform_confirmation_wrapper_1 {
        margin-bottom: 50px;
        font-weight: 700;
        color: @accent-orange;
    }

    .basic-text {
        max-width: 372px;
        .font-size(16);
        line-height: 16.16px;
        font-weight: 300px;
        margin: 0 auto;
        margin-bottom: 65px;
    }
}

.questions-section {
    position: relative;
    padding-top: 256px;
    overflow: hidden;
    padding-bottom: 208px;

    .b(laptop; {
        padding-top: 179px;
        padding-bottom: 128px;
    });

    .b(tablet; {
        padding-top: 149px;
        padding-bottom: 108px;
    });

    .sm({
        padding-top: 109px;
    });

    .blue-border {
        z-index: 1;
    }

    .green-squiggle-2, .green-squiggle-1 {
        width: 1990.97px;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .green-squiggle-1 {
        position: absolute;
        left: -18%;
        top: -29%;
        transform: rotate(138.72deg);
        z-index: 0;

        .b(large-desktop; {
            left: -28%;
            top: -29%;
        });

        .b(desktop, {
            left: -29%;
        });

        .b(laptop; {
            left: -26%;
            width: 120%;
            top: -17%;
        });

        .b(tablet; {
            top: -16%;
        });

        .sm({
            top: -12%;
        });

        .xs({
        	top: -6%;
        });

    }

    .green-squiggle-2 {
        position: absolute;
        right: -1%;
        top: 23%;
        transform: rotate(150.15deg);
        z-index: 0;

        .b(large-desktop; {
            right: -20%;
            top: 23%;
        });

        .b(desktop, {
            right: -21%;
            top: 21%;
        });

        .b(laptop; {
            right: -17%;
            top: 20%;
            width: 130%;
        });

        .sm({
            top: 15%;
        });

        .xs({
            top: 18%;
        });
    }

    .container {
        position: relative;
        z-index: 1;
        .flex-column();
    }

    .script-heading {
        .font-size(48);
        line-height: 101%;
        max-width: 603px;
        margin: 0 auto;
        margin-bottom: 59px;

        p {
            margin-bottom: 0;
        }

        .sm({
        	text-align: center;
            .font-size(33);
            margin-bottom: 30px;
        });

        .xs({
        	.font-size(26);
        });
    }

    .btn {
        margin-bottom: 259px;
        min-width: 224px;

        .b(laptop; {
            margin-bottom: 189px;
        });

        .b(tablet; {
            margin-bottom: 149px;
        });

        .sm({
            margin-bottom: 109px;
        });

        .xs({
            margin-bottom: 89px;
        });
    }

    .container .colored-container .right-container {
        width: 50%;
        text-align: left;
        align-items: flex-start;
        justify-content: space-between;
        padding: 80px 28px 80px 117px;

        .b(laptop; {
        	padding-left: 67px;
        });

        .b(tablet; {
        	padding: 80px 60px;
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
        });

        .sm({
        	padding: 60px 40px;
        });

        .all-caps-heading {
            margin-bottom: 41px;

            .b(laptop; {
            	.font-size(48);
            });

            .b(tablet; {
            	.font-size(41);
                margin-bottom: 30px;
            });

            .xs({
            	.font-size(31);
            });

            p {
                margin-bottom: 0;
            }
        }

        .sub-heading {
            max-width: 475px;
            margin-bottom: 41px;

            .b(tablet; {
            	.font-size(23);
                margin-bottom: 30px;
            });

            .xs({
            	.font-size(22);
            });

            p {
                margin-bottom: 0;
            }
        }

        .btn {
            margin-bottom: 0;
            padding: 22px 40px;
            min-width: unset;
        }
    }
}

.page-id-23 {
    .full-width-city-slider {
        text-align: center;
        margin-bottom: 0;

        .all-caps-heading {
            margin-bottom: 155px;
            padding: 0 20px;

            .b(laptop; {
                margin-bottom: 90px;
            });

            .xs({
                margin-bottom: 40px;
            });
        }
    }
}


.giant-playlist-button.giant-playlist-button-contact {
    padding-top: 155px;
    padding-bottom: 155px;

    .b(laptop; {
        padding-top: 90px;
        padding-bottom: 90px;
    });

    .xs({
        padding-top: 70px;
        padding-bottom: 70px;
    });

    .container a {
        background-color: @accent-orange;
        color: @accent-pink;
        .transition();

        .b(desktop; {
            .font-size(83);
            height: unset;
            width: unset;
        });

        .b(laptop; {
            .font-size(62);
            line-height:101%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        });

        .b(tablet; {
        	.font-size(50);

        });

        .xs({
            .font-size(39);
            padding-top: 45px;
            padding-bottom: 34px;
        });

        &:hover {
            background-color: @accent-pink;
            color: @accent-orange;
        }
    }

}
