/***********************************************************************/
/*********** 404 *******************************************************/
/***********************************************************************/
#error404 {
    text-align: center;
    position: relative;
    padding: 0;

    .blue-top-border {
        z-index: 1;
        max-width: 1414px;
        padding: 0 50px;
        margin: 0 auto;
    }

    .green-squiggle-1, .green-squiggle-2 {
        position: absolute;
        z-index: 0;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .green-squiggle-1 {
        top: -48%;
        right: -39%;
        transform: rotate(5deg);
    }

    .green-squiggle-2 {
        bottom: -45%;
        left: -12%;
        width: 2024px;
        transform: rotate(-2deg);
    }

    .error-404-content {
        position: relative;
        z-index: 1;
        padding: 64px 0;
    }

    .sub-heading {
        margin-bottom: 59px;
        p {
            margin-bottom: 0;
        }
    }

    .script-heading {
        margin-bottom: 20px;
    }

    .missing-page-image {
        position: relative;
        height: 239px;
        width: 429px;
        border-radius: 50px;
        margin-bottom: 59px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        .flex-column();

        img {
            width: 100%;
            height: auto;
        }
    }


}

