/***********************************************************************/
/*********** 404 *******************************************************/
/***********************************************************************/
#error404 {
    text-align: center;
    position: relative;
    padding: 0;

    .blue-top-border {
        z-index: 1;
        max-width: 1414px;
        padding: 0 50px;
        margin: 0 auto;
    }

    .green-squiggle-1, .green-squiggle-2 {
        position: absolute;
        z-index: 0;

        svg {
            width: 100%;
            height: auto;
        }
    }

    .green-squiggle-1 {
        top: -48%;
        right: -39%;
        transform: rotate(5deg);

        .b(laptop; {
            top: -28%;
            right: -36%;
            width: 119%;
        });

        .b(tablet; {
            top: -21%;
            right: -31%;
        });

        .sm({
            top: -16%;
        });

        .xs({
            top: -12%;
            width: 180%;
            right: -56%;
        });
    }

    .green-squiggle-2 {
        bottom: -45%;
        left: -12%;
        width: 2024px;
        transform: rotate(-2deg);

        .b(laptop; {
            bottom: -25%;
            left: -6%;
            width: 119%;
        });

        .b(tablet; {
            bottom: -21%;
        });

        .sm({
            bottom: -16%;
        });

        .xs({
            bottom: -14%;
            width: 160%;
            left: -24%;
        });
    }

    .error-404-content {
        position: relative;
        z-index: 1;
        padding: 64px 0;
    }

    .sub-heading {
        margin-bottom: 59px;

        .sm({
            margin-bottom: 30px;
        });
        p {
            margin-bottom: 0;
        }
    }

    .script-heading {
        margin-bottom: 20px;
    }

    .missing-page-image {
        position: relative;
        height: 239px;
        width: 429px;
        border-radius: 50px;
        margin-bottom: 59px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        .flex-column();

        .sm({
            width: 100%;
            max-width: 429px;
            margin-bottom: 40px;
        });

        img {
            width: 100%;
            height: auto;

            .xs({
            	height: 100%;
                object-fit: cover;
            });
        }
    }


}

